* {
    margin: 0;
    padding: 0;
}

.content {
    border: none;
    border-bottom-left-radius: 50px;
}

.mini-btn {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #fff;
}

.header-itmes {
    display: flex;
    gap: 12px;
}

.setting-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.762769px;
    color: #229A87;
}

.settings-card {
    background: #FFFFFF;
    box-shadow: 5px 0px 20px rgba(185, 213, 208, 0.4);
    border-radius: 10px;
    padding: 37px 58px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.input-section input {
    height: 56px;
    width: 510px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.user-info {
    margin-bottom: 30px;
}